# LINE Messaging API
LINE_CHANNEL_SECRET=ここにChannel_Secretを入力
LINE_CHANNEL_ACCESS_TOKEN=ここにChannel_Access_Tokenを入力

# スマレジ API
SMAREGI_CLIENT_ID=ここにクライアントIDを入力
SMAREGI_CLIENT_SECRET=ここにクライアントシークレットを入力
SMAREGI_CONTRACT_ID=ここに契約IDを入力

# サーバー設定
PORT=3000
